<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- XML Config para los beans de negocio -->

	<!-- Creamos el bean de Libro, inyección por propiedades -->
	<bean id="libro1" class="com.grupoatrium.modelo.Libro"
		init-method="init" destroy-method="destroy">
		<property name="isbn" value="9788499085739" />
		<property name="titulo" value="La última respuesta" />
		<property name="autores">
			<list value-type="com.grupoatrium.modelo.Autor">
				<ref bean="com.grupoatrium.modelo.Autor#0" />
				<ref bean="com.grupoatrium.modelo.Autor#1" />
			</list>
		</property>
		<property name="editorial" ref="editorial1" />
		<property name="publicacion" value="3" />
		<property name="precio" value="19.95" />
		<property name="descripcion" value="Thriller" />

	</bean>

	<!-- Creamos el bean de Editorial, inyección a través del constructor con 
		resolución de ambigüedades por atributo name -->
	<bean id="editorial1" class="com.grupoatrium.modelo.Editorial">
		<constructor-arg name="nombre" value="DEBOLSILLO" />
		<constructor-arg name="direccion" ref="direccion" />
		<constructor-arg name="nif" value="89698798V" />
	</bean>

	<!-- Creamos una plantilla para los beans de Autor -->
	<bean id="templateAuthor" class="com.grupoatrium.modelo.Autor"
		abstract="true">
		<property name="nombre" value="Autor" />
		<property name="nacionalidad" value="Española" />
		<property name="comentarios" value="Nacido en Barcelona" />
	</bean>

	<!-- Creamos los beans de Autor, como bean anónimo y que heredan de la plantilla -->
	<bean class="com.grupoatrium.modelo.Autor" parent="templateAuthor">
		<property name="nombre" value="Alex Rovira" />
	</bean>

	<bean class="com.grupoatrium.modelo.Autor" parent="templateAuthor">
		<property name="nombre" value="Francesc Miralles" />
	</bean>

	<!-- Creamos el bean de Direccion, inyección a través del espacio de nombres 
		p -->
	<bean id="direccion" class="com.grupoatrium.modelo.Direccion"
		p:calle="Avinguda del Remolar" p:numero="109" p:poblacion="El Prat de Llobregat"
		p:cp="08820" p:provincia="Barcelona" />

</beans>

